.main-header{
    padding: 0 2vmax;
    height: 6vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navbar{
    background-color: rgb(51, 48, 48) !important;
}
.logo{
    height: 4.2vmax;
}
.search{
    margin-left: 0.5vmax;
    width: 100%;
}
.search>input[type="text"] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    background-color: white;
    border:none;
    color: rgba(0, 0, 0, 0.638);
    padding: 1vmax 2vmax;
    width: 75%;
    outline: none;
    border-radius: 0%;
    font: 300 1.2vmax cursive;
    box-sizing: border-box;
    height: 8%
}
.search>input[type="submit"] {
    height: 8%;
    border-radius: 0%;
    background-color: rgb(248, 105, 80);
    border: none;
    padding: 1vmax;
    width: 20%;
    font: 300 1.2vmax "Roboto";
    cursor: pointer;
    color: white;
    transition: all 0.4s;
}

.search>input[type="submit"]:hover {
    background-color: rgb(211, 57, 30);
}

.image-tag{
    border: 1px solid white;
    height: 100%;
    border-radius: 50%;
}
.box{
    height: 0vmax !important;
}
.iconS{
    position: fixed !important;
    right: 2vmax;
    top: 7vmax;
}
@media screen and (max-width:770px) {
    .iconS{
        top:11vmax
    }
    .logo{
        height: 6vmax;
    }
}