.myOrdersPage{
    width: 100vw;
    padding: 0.7vmax;
    max-width: 100%;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#myOrdersHeading{
    text-align: center;
    font: 400 1.2vmax "Roboto";
    padding: 0.5vmax;
    box-sizing: border-box;
    color: rgb(255,255,255);
    transition: all 0.5s;
    background-color: rgb(44,44,44);
}
.myOrdersTable{
    background-color: white;
}
.myOrdersTable div{
    font: 300 1vmax "Roboto";
    color:rgba(0,0,0,0.678);
    border: none;
}
.myOrderTable a:hover{
    color: tomato;
}
@media screen and (max-width:600px){
    .myOrdersPage{
        padding: 0;
        height: 93vh;
    }
}